.news {
	@include adaptiv-value('padding-top', 110, 80, 1);
	@include adaptiv-value('padding-bottom', 110, 80, 1);

	// .news__container

	&__container {
	}

	// .news__top

	&__top {
		@include adaptiv-value('margin-bottom', 30, 20, 1);
	}

	// .news__title

	&__title {
	}

	// .news__all

	&__all {
		display: flex;
		justify-content: flex-end;
	}

	// .news__all-link

	&__all-link {
		font-size: 24px;
		color: $secondColor;

		@media (min-width: $md2 + px) {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: -5px;
				right: 0;
				width: 0;
				height: 1px;
				background-color: $secondColor;
				transition: all 0.5s ease 0s;
			}
			&:hover {
				&::after {
					left: 0;
					width: 100%;
				}
			}
		}
	}

	// .news__content

	&__content {
		position: relative;
	}

	// .news__slider

	&__slider {
		display: flex;
		min-width: 0;
		height: 100%;
	}

	// .news__slide

	&__slide {
		// height: 100%;
		// align-items: stretch;
	}

	// .news__pagination

	&__pagination {
	}

	// .news__arrow

	&__arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		background-repeat: no-repeat;
		background-size: cover;
		width: 24px;
		height: 24px;
		cursor: pointer;
		transition: background-image 0.3s ease 0s;
		border-radius: 50%;
		&.swiper-button-disabled {
			opacity: 0.2;
			cursor: default;
		}
		&.active {
			width: 26px;
			height: 26px;
			border: 2px solid $mainColor;
		}
		// .news__arrow_prev

		&_prev {
			left: -30px;
			background-image: svg-url(
				'<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#1dbce3" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zm28.9-143.6L209.4 288H392c13.3 0 24-10.7 24-24v-16c0-13.3-10.7-24-24-24H209.4l75.5-72.4c9.7-9.3 9.9-24.8.4-34.3l-11-10.9c-9.4-9.4-24.6-9.4-33.9 0L107.7 239c-9.4 9.4-9.4 24.6 0 33.9l132.7 132.7c9.4 9.4 24.6 9.4 33.9 0l11-10.9c9.5-9.5 9.3-25-.4-34.3z"></path></svg>'
			);
		}

		// .news__arrow_next

		&_next {
			right: -30px;
			background-image: svg-url(
				'<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#1dbce3" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm-28.9 143.6l75.5 72.4H120c-13.3 0-24 10.7-24 24v16c0 13.3 10.7 24 24 24h182.6l-75.5 72.4c-9.7 9.3-9.9 24.8-.4 34.3l11 10.9c9.4 9.4 24.6 9.4 33.9 0L404.3 273c9.4-9.4 9.4-24.6 0-33.9L271.6 106.3c-9.4-9.4-24.6-9.4-33.9 0l-11 10.9c-9.5 9.6-9.3 25.1.4 34.4z"></path></svg>'
			);
		}
	}
}
.slide-news {
	border-radius: 10px;
	overflow: hidden;
	height: 100%;
	background: #8cbeeb;
	max-width: 286px;
	transition: all 0.3s ease 0s;
	&:hover {
		background-color: darken($color: #8cbeeb, $amount: 10);
		.slide-news__image {
			&::after {
				background-color: rgba($color: #000000, $alpha: 0.3);
			}
		}
		.slide-news__title {
			transform: translate(0%, -300%);
			.slide-news__title-link {
				transition: all 0.3s ease 0.1s;
				color: #fff;
			}
		}
	}
	// .slide-news__image
	&__image {
		padding-bottom: 90.3%;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 0.3s ease 0s;
			background-color: transparent;
		}
	}
	// .slide-news__content
	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 10px;
	}

	// .slide-news__title

	&__title {
		text-align: center;
		margin-bottom: 10px;
		transition: all 0.5s ease 0s;
	}
	// .slide-news__title-link
	&__title-link {
		color: $secondColor;
		font-size: 24px;
		transition: all 0.3s ease 0.1s;
	}

	// .slide-news__text

	&__text {
		margin-bottom: 10px;
		span {
			display: inline-block;
			// max-width: 286px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			color: rgb(230, 230, 230);
			@include adaptiv-value('font-size', 16, 14, 1);
			line-height: 144%;
		}
	}

	// .slide-news__button

	&__button {
	}
	// .slide-news__link
	&__link {
		display: inline-block;
		color: rgb(230, 230, 230);
		text-transform: capitalize;
		height: 36px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		background-color: $secondColor;
		transition: background-color 0.3s ease 0s;
		&:hover {
			background-color: #4580ea;
		}
	}
}
