.word-map {
	@include adaptiv-value('padding-top', 110, 80, 1);
	@include adaptiv-value('padding-bottom', 110, 80, 1);

	// .word-map__container

	&__container {
	}

	// .word-map__top

	&__top {
		@include adaptiv-value('margin-bottom', 50, 25, 1);
	}
	// .word-map__title

	&__title {
	}

	// .word-map__content

	&__content {
	}

	// .word-map__items

	&__items {
		display: flex;
		justify-content: space-between;
		@include adaptiv-value('margin-bottom', 30, 15, 1);
	}

	// .word-map__item

	&__item {
		flex: 1 1 auto;
		&:first-child {
			flex: 0 1 250px;
		}
		&:last-child {
			object,
			svg {
				max-width: 100%;
			}
		}
	}

	// .word-map__info

	&__info {
		visibility: hidden;
		opacity: 0;

		transition: all 0.3s ease 0s;
		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	// .word-map__country

	&__country {
		display: flex;
		@include adaptiv-value('margin-bottom', 15, 5, 1);

		img {
			display: inline-block;
			margin-top: 3px;
			margin-left: 24px;
			width: 24px;
			height: 24px;
		}
		span {
			font-family: $secongFamily;
			color: #fff;
			font-weight: 700;
			@include adaptiv-value('font-size', 36, 18, 1);
		}
	}

	// .word-map__text

	&__text {
	}
}

.info-word {
	// .info-word__list

	&__list {
		li {
			background-color: #4580ea;
			cursor: pointer;
			border-radius: 4px;
			@include adaptiv-value('height', 35, 30, 1);
			display: flex;
			align-items: center;
			padding-left: 15px;
			color: #fff;
			text-transform: capitalize;
			@include adaptiv-value('margin-bottom', 15, 10, 1);
			@media (min-width: $md2 + px) {
				transition: all 0.3s ease 0s;
				&:hover {
					box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
					transform: translate(10%, 0);
				}
			}
			&.active,
			&.mouse {
				box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
				transform: translate(10%, 0);
			}
		}
	}

	// .info-word__show-more

	&__show-more {
	}

	// .info-word__button

	&__button {
		border: 2px solid #4580ea;
		border-radius: 10px;
		@include adaptiv-value('height', 48, 24, 1);
		display: flex;
		justify-content: center;
		align-items: center;
		@include adaptiv-value('padding-left', 20, 10, 1);
		@include adaptiv-value('padding-right', 20, 10, 1);
		margin: 0 auto;
		color: #4580ea;
		font-weight: 700;
		@media (min-width: $md2 + px) {
			transition: all 0.3s ease 0s;
			&:hover {
				border: 2px solid #fff;
				background-color: #4580ea;
				color: #fff;
			}
		}
	}
}
