.footer {
	background-color: #8cbeeb;
	@include adaptiv-value('padding-top', 45, 24, 1);
	@include adaptiv-value('padding-bottom', 45, 24, 1);

	// .footer__container

	&__container {
	}

	// .footer__content

	&__content {
	}

	// .footer__top

	&__top {
		@include adaptiv-value('margin-bottom', 45, 24, 1);
		@media (max-width: $md2 + px) {
			text-align: center;
		}
	}

	// .footer__title

	&__title {
		font-family: $secongFamily;
		font-weight: 700;
		color: #fff;
		@include adaptiv-value('font-size', 36, 24, 1);
	}

	// .footer__body

	&__body {
	}

	// .footer__items

	&__items {
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2 + px) {
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			.footer__item:first-child {
				order: 2;
			}
			.footer__item:nth-child(2) {
				order: 1;
				flex: 1 1 100%;
				margin-bottom: 30px;
			}
			.footer__item:last-child {
				order: 4;
			}
		}
	}

	// .footer__item

	&__item {
		// @media (max-width: $md2 + px) {
		// 	flex: 0 1 50%;
		// }
		p {
			color: #fff;
			@include adaptiv-value('font-size', 18, 14, 1);
			@include adaptiv-value('margin-bottom', 12, 8, 1);
		}
	}

	// .footer__contacts-list

	&__contacts-list {
		display: flex;
		@media (max-width: $md2 + px) {
			justify-content: space-between;
		}
	}
	// .footer__contacts-item
	&__contacts-item {
		@include adaptiv-value('margin-right', 55, 10, 1);
		&:last-child {
			margin: 0 0 0 0;
		}

		p {
			@include adaptiv-value('padding-top', 10, 0, 1);
			&:first-child {
				padding-top: 0;
			}
		}
		li {
			@include adaptiv-value('margin-bottom', 10, 7, 1);
		}
	}

	// .footer__contacts-link

	&__contacts-link {
		color: #4580ea;
		text-transform: lowercase;
		@media (min-width: $md2 + px) {
			position: relative;
			&::after {
				content: '';
				position: absolute;
				bottom: -5px;
				right: 0;
				width: 0;
				height: 1px;
				background-color: darken($color: #4580ea, $amount: 15);
				transition: all 0.5s ease 0s;
			}
			&:hover {
				&::after {
					width: 100%;
					left: 0;
				}
			}
		}
	}

	// .footer__social-title

	&__social-title {
		text-align: center;
	}

	// .footer__social-list

	&__social-list {
		display: flex;
		position: relative;
		li {
			@include adaptiv-value('width', 58, 36, 1);
			@include adaptiv-value('height', 58, 36, 1);
			border-radius: 50%;
			margin-right: 15px;
			@media (min-width: $md2 + px) {
				transition: all 0.3s ease 0s;

				&::before {
					content: attr(data-text);
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, calc(-50% + 50px));
					@include adaptiv-value('font-size', 24, 20, 1);
					pointer-events: none;
					font-weight: 700;
					transition: 0.5s;
					z-index: 1;
					text-transform: capitalize;
					color: #000;
					letter-spacing: 2px;
					opacity: 0;
				}
				&:hover {
					&::before {
						opacity: 0.1;
						transform: translate(-50%, calc(-50% + 70px));
					}
					box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
					a {
						background-color: lighten($color: #064a89, $amount: 15);
						img {
							transform: translateZ(50px);
						}
					}
				}
			}
			&:last-child {
				margin: 0;
			}
			a {
				overflow: hidden;
				display: inline-block;
				background-color: #064a89;
				width: 100%;
				height: 100%;
				display: flex;
				border-radius: 50%;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease 0s;
				transform-style: preserve-3d;
				perspective: 500px;
				img {
					transition: 0.25s;
					pointer-events: none;
					@include adaptiv-value('width', 24, 18, 1);
					@include adaptiv-value('height', 24, 18, 1);
				}
			}
		}
	}
}

//====================================================================================================

//====================================================================================================
