//====================================================================================================
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 3;
	transition: all 0.3s ease 0s;
	@media (min-width: $md2 + px) {
		height: 60px;
	}
	&._scroll {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		@media (min-width: $md2 + px) {
			height: 60px;
			background-color: #fff;
			.menu__link {
				&::before {
					display: none;
				}
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					right: 0;
					width: 0%;
					height: 1px;
					background-color: rgba(255, 225, 69, 1); //rgb(170, 170, 5);
					transition: all 0.3s ease 0s;
				}
				&:hover {
					&::after {
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}
	// .header__container

	&__container {
		height: inherit;
	}

	// .header__content

	&__content {
		height: inherit;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	// .header__menu

	&__menu {
	}
}
.menu {
	// .menu__icon

	&__icon {
	}

	// .menu__body

	&__body {
		display: flex;
		height: inherit;
		align-items: center;
		@media (max-width: $md2 + px) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			right: -110%;
			background-color: rgba(179, 179, 179, 0.6);
			-webkit-backdrop-filter: blur(5px);
			backdrop-filter: blur(5px);
			z-index: 4;
			padding: 0px 20px 20px 20px;
			@include adaptiv-value('padding-top', 90, 70, 1);
			overflow: auto;
			-webkit-transition: all 0.5s ease 0s;
			-o-transition: all 0.5s ease 0s;
			transition: all 0.5s ease 0s;
			flex-direction: column;

			&._active {
				right: 0;
			}
		}
	}
	&__content {
		margin-right: 15px;
		margin-top: 7px;
		@media (max-width: $md2 + px) {
			order: 2;
			display: flex;
			justify-content: space-around;
			margin: 0;
			width: 100%;
		}
	}

	// .menu__list

	&__list {
		display: flex;

		li {
			margin-right: 15px;
			&:last-child {
				margin: 0;
			}
		}
		@media (max-width: $md2 + px) {
			display: block;
			// margin: 0 auto;
			li {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 0px;
				@include adaptiv-value('margin-bottom', 40, 15, 1);
				&:last-child {
					margin: 0;
				}
			}
		}
	}

	// .menu__link

	&__link {
		font-family: 'BebasNeue';
		font-weight: bold;
		font-size: 18px;
		display: flex;
		align-items: center;
		text-align: center;
		color: darken($color: $mainColor, $amount: 5);
		@media (max-width: $md2 + px) {
			color: #fff;
		}
		@media (min-width: $md2 + px) {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: -10px;
				left: -7px;
				right: -7px;
				bottom: -7px;
				border-radius: 4px;
				z-index: -1;
				transition: background-color 0.3s ease 0s;
			}
			&:hover {
				&::before {
					background-color: #fff;
				}
			}
		}
	}

	// .menu__search

	&__search {
		@media (max-width: $md2 + px) {
			order: 1;
			margin-left: auto;
			@include adaptiv-value('margin-bottom', 40, 60, 1);
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: $md2+px) {
		display: block;
		position: absolute;
		top: 30px;
		right: 24px;
		width: 45px;
		height: 24px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 2px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: $mainColor;
			&:first-child {
				top: 0px;
			}
			&:nth-child(2) {
				background-color: rgba(255, 225, 69, 1);
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 2px);
					height: 4px;
				}
				&:nth-child(2) {
					transform: translate(-100%, 0) scale(0);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 2px);
					background-color: rgba(255, 225, 69, 1);
					height: 4px;
				}
			}
		}
	}
	@media (max-width: $md4 + px) {
		right: 16px;
	}
}

.search-menu {
	position: relative;
	// .search-menu__button

	&__button {
		background-color: #fff;
		border-radius: 4px;
		width: 40px;
		height: 40px;
		position: relative;
		&::before {
			content: '';
			position: relative;
			top: -4px;
			left: -4px;
			bottom: -4px;
			right: -4px;
		}
		img {
			width: 24px;
			height: 24px;
			animation: search 2s ease 0s infinite alternate;
		}
		&.active {
			img {
				animation: search paused;
				transform: rotate(43deg);
			}
		}
	}

	// .search-menu__field

	&__field {
		position: absolute;
		min-width: 320px;
		bottom: -55px;
		left: -280px;
		opacity: 0;
		visibility: hidden;
		transform: translate(0%, -50%) scale(1.5);
		transition: all 0.3s ease 0s;
		&.active {
			opacity: 1;
			visibility: visible;
			transform: translate(0%, 0);
		}
		@media (max-width: $md2 + px) {
			transform: translate(0%, -30%) scale(1.5);
			bottom: none;
			@include adaptiv-value('left', -670, -235, 1);
			top: 0;
			@include adaptiv-value('min-width', 650, 225, 1);
		}
	}
}

@keyframes search {
	0% {
		transform: rotate(-5deg);
	}
	100% {
		transform: rotate(5deg);
	}
}
.field-search {
	position: relative;
	// .field-search__input

	&__input {
		border-radius: 4px !important;
		// @include adaptiv-value('height', 48, 40, 1);
		height: 48px;
		box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
		color: lighten($color: #929395, $amount: 15);
		text-transform: none;
		font-family: 'Century';
		@media (max-width: $md2 + px) {
			height: 40px;
		}
	}

	// .field-search__button

	&__button {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translate(0, -50%);
		width: 24px;
		height: 24px;
	}
}
